fastapi
uvicorn[standard]
httpx
PyJWT
psycopg[binary]
SQLAlchemy
python-dotenv
bleach
Markdown
bleach
alembic
#何をする？
#
#アプリが必要とするPythonパッケージを明示。
#覚えること：「requirements.txt = ライブラリ一覧表」
#Dockerfile がこれを読んで pip install → 再現性の高い環境が作れる。これはfastapiのライブラリをダウンロードするコマンド